extends layout

block content
  main.main-page.main-page--padding
    section.main-page__category.category
      h1.category__title Категории

      .category__add-form
        form(action="/my/categories/add" method="POST")
          input(type="hidden" name="_csrf" value=csrfToken)
          input#add-form-add-category(type="text" minlength="5" maxlength="30" name="category" placeholder="Новая категория")
          label(for="add-form-add-category")
            span.visually-hidden Добавить категорию
          button.category__button.button.button--category(type="submit") Добавить
      if !id && validationMessages
        .category__add-validation
          +insertErrorMessages(validationMessages)

      ul.category__list
        each category in categories
          li.category__list-item
            form(action=`/my/categories/${category.id}` method="POST")
              input(type="hidden" name="_csrf" value=csrfToken)
              input(id=`modify-form-category-${category.id}` type="text" minlength="5" maxlength="30" name="category" value=category.name)
              label(for=`modify-form-category-${category.id}`)
                span.visually-hidden Редактировать категорию
              button.category__button.button.button--category(type="submit") Сохранить
              a.category__button.button.button--category(href=`/my/categories/delete/${category.id}`) Удалить
            if (+id === category.id) && validationMessages
              .category__list-validation
                +insertErrorMessages(validationMessages)
